.mainbox {
    width: 500px;
    height: 1000px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    background-color: yellow;
    width: 235px;
    height: 490px;
    position: absolute;
    margin-top: 35px;
    margin-left: 130px;
    border-radius: 30px;
}

.phonetemp {
    margin-left: -85px;
    position: absolute;
    margin-top: -60px;
}

.btmbar {
    width: 80px;
    height: 7px;
    background-color: rgb(199, 199, 209);
    margin-top: 445px;
    border-radius: 10px;
    margin-left: 80px;
    position: fixed;
}

.time {
    margin-top: 13px;
    margin-left: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

.batteryicon {
    width: 15px;
    height: 12px;
    position: absolute;
    margin-left: 204px;
    margin-top: -14px;
}

.signalicon {
    width: 15px;
    height: 13px;
    margin-left: 189px;
    position: absolute;
    margin-top: -14px;
}




/*
@media screen and (max-width:440px) {
.box{
    background-color: yellow;
    width: 235px;
    height: 490px;
    position: absolute;
    margin-top: 35px;
    margin-left: 115px;
    border-radius: 30px;
}

.phonetemp{
    margin-left: -85px;
    position: absolute;
    margin-top: -60px;
}

.btmbar{
    width: 80px;
    height: 7px;
    background-color: rgb(199, 199, 209);
    margin-top: 445px;
    border-radius: 10px;
    margin-left: 80px;
    position: fixed;
}

.time{
    margin-top: 13px;
    margin-left: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

.batteryicon{
    width: 15px;
    height: 12px;
    position: absolute;
    margin-left: 204px;
    margin-top: -14px;
}

.signalicon{
    width: 15px;
    height: 13px;
    margin-left: 189px;
    position: absolute;
    margin-top: -14px;
}
}

*/